<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SOS Fauna</title>
</head>
<body style="text-align: center; font-family: Arial, sans-serif; padding: 20px; margin: 0;">
<div style="max-width: 600px; margin: 0 auto;">
    <img src="https://i.ibb.co/bMr358R3/Texto-do-seu-par-grafo.png" alt="Cabeçalho"
         style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
    <h1 style="margin-top: 20px; color: #2c3e50;" th:text="${titulo}">SOS Fauna</h1>
    <p style="font-size: 18px; color: #333;">Seu código de recuperação de senha:</p>
    <p><strong style="font-size: 20px; color: #e74c3c;" th:text="${mensagem}"></strong></p>
</div>
</body>
</html>
